<p class="pull-left"><a class="btn btn-primary" href="#addTitle" role="button">Add a Title</a></p>  
<table class="table forum table-striped">
<thead>
    <tr>
        <th class="cell-stat"></th>
        <th>
            <h3>Titles</h3>
        </th>
        <th class="cell-stat text-center hidden-xs hidden-sm">Comments</th>
        <th class="cell-stat-2x hidden-xs hidden-sm">Created Date</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="Title in titles">
        <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
        <td>
            <h4><a href="#comments/{{Title.TopicId}}">{{Title.TitleName}}</a><br><small>{{Title.Description}}</small></h4>
        </td>
        <td class="text-center hidden-xs hidden-sm"><a href="#">{{Title.CommentCount}}</a></td>
        <td class="hidden-xs hidden-sm"><i class="fa fa-clock-o"></i>{{Title.CreatedDate | date}}</td>
    </tr>   
</tbody>
</table>