<p class="pull-left"><a class="btn btn-primary" href="#addCategory" role="button" translate="BUTTON_ADDCATEGORY"></a></p>  
<table class="table forum table-striped">
<thead>
    <tr>
        <th class="cell-stat"></th>
        <th>
            <h3 translate="CATEGORIES_TITLE">Categories</h3>
        </th>       
        <th class="cell-stat text-center hidden-xs hidden-sm" translate="TOPICS_TITLE"></th>
        
    </tr>
</thead>
<tbody>
    <tr ng-repeat="category in categories" >
        <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
        <td>
            <h4><a href="#title/{{category.CategoryId}}">{{category.CategoryName}}</a><br><small>{{category.Description}}</small></h4>
        </td>
        <td class="text-center">{{category.TopicsCount}}</td>
        
        <td class="text-center"></td>
    </tr>   
</tbody>
</table>